[submodule "submodule/Three20"]
	path = submodule/Three20
	url = https://github.com/facebook/three20.git
[submodule "submodule/DDAlertPrompt"]
	path = submodule/DDAlertPrompt
	url = https://github.com/digdog/DDAlertPrompt.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "submodule/urbanairship"]
	path = submodule/urbanairship
	url = git@github.com:urbanairship/ios-library.git
